body {
	font-family: 'Roboto', sans-serif;
}

#machine {
	background-color: #6199d1;
	max-width: 350px;
	text-align: center;
	margin: 120px auto;
	padding: 30px 30px 50px 30px;
	justify-content: center;
	box-shadow: -2px 5px 18px 4px rgba(0,0,0,.50);
	border-radius: 25px;
}

#button,
#reset-button {
	background-color: #e3e3b5;
	width: 60%;
	padding: 15px 30px;
	border: unset;
	border-radius: 25px;
	margin: 15px auto; 
	font-size: .9em;
	text-transform: uppercase;
	color: #000;
	padding-top: 18px;
}

#button:hover,
#button:focus,
#button:active {
	background-color: purple;
	cursor: pointer;
	color: #fff;
	box-shadow: -2px 3px 10px 6px rgba(255,255,255,.50);
}

.big-num {
	color: purple;
	font-size: 160px;
}

.final-num {
	color: purple;
	font-size: 50px;
	display: flex;
	flex-wrap: wrap;
}

#reset-button {
	display: none;
}